
.listBtn{
    display: flex;
}

.itemBtn{
    margin-top: 30px;
    margin-bottom: 30px;
}
.itemBtn:not(:last-of-type){
margin-right: 10px;
}

.btn{
    border-radius: 4px;
    padding: 5px 10px;
    border: 0.5px solid grey;
}

.title{
    margin-bottom: 30px;
}